In [1]:
# Importamos las bibliotecas necesarias
import pandas as pd
from datetime import datetime, date

In [2]:
df = pd.read_csv('./ETL_YELP_AllState.csv')

In [3]:
df.head(2)

,Business_id,Name,Categories,Stars,Text,Useful,Funny,Cool,Date,User_id,City,State,Latitude,Longitude,Address
0,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",5.0,Hands down best Mexican in Indy! This place al...,0,0,0,2019-03-21,4K_WOyp5edBa9-JtMjxiwQ,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd
1,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",5.0,After reading all the reviews & hearing great ...,1,0,1,2019-04-20,opsegPYOBbMrULOm7QpkJw,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd

In [4]:
df['State'].value_counts()

FL    26734
PA    19289
AZ    18724
TN    14414
IN    14271
NV    11806
CA    10345
MO     8521
LA     7577
NJ     4086
ID     3907
DE     1575
IL     1273
Name: State, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142522 entries, 0 to 142521
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Business_id  142522 non-null  object
 1   Name         142522 non-null  object
 2   Categories   142522 non-null  object
 3   Stars        142522 non-null  float64
 4   Text         142522 non-null  object
 5   Useful       142522 non-null  int64
 6   Funny        142522 non-null  int64
 7   Cool         142522 non-null  int64
 8   Date         142522 non-null  object
 9   User_id      142522 non-null  object
 10  City         142522 non-null  object
 11  State        142522 non-null  object
 12  Latitude     142522 non-null  float64
 13  Longitude    142522 non-null  float64
 14  Address      142020 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 16.3+ MB

In [6]:
def convert_to_datetime(date_string):
    return datetime.strptime(date_string,'%Y-%m-%d')
df['Date'] = df['Date'].apply(convert_to_datetime)

In [7]:
# Aplicamos los respectivos metodos
df['Year'] = df['Date'].dt.year
df['Trimestre'] = df['Date'].dt.quarter
df['Mes'] = df['Date'].dt.month

In [8]:
# Verificamos la creación de las mencionadas columnas
df.head(1)

,Business_id,Name,Categories,Stars,Text,Useful,Funny,Cool,Date,User_id,City,State,Latitude,Longitude,Address,Year,Trimestre,Mes
0,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",5.0,Hands down best Mexican in Indy! This place al...,0,0,0,2019-03-21,4K_WOyp5edBa9-JtMjxiwQ,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd,2019,1,3

In [9]:
# Convertimos la columna Mes que es numérico, en palabra
mes = {1:'Enero',2:'Febrero',3:'Marzo',4:'Abril',5:'Mayo',6:'Junio',7:'Julio',8:'Agosto',9:'Septiembre',10:'Octubre',11:'Noviembre',12:'Diciembre'}
df.Mes = df.Mes.map(mes)

In [10]:
# Verificamos la correcta creación 
df.head(3)

,Business_id,Name,Categories,Stars,Text,Useful,Funny,Cool,Date,User_id,City,State,Latitude,Longitude,Address,Year,Trimestre,Mes
0,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",5.0,Hands down best Mexican in Indy! This place al...,0,0,0,2019-03-21,4K_WOyp5edBa9-JtMjxiwQ,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd,2019,1,Marzo
1,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",5.0,After reading all the reviews & hearing great ...,1,0,1,2019-04-20,opsegPYOBbMrULOm7QpkJw,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd,2019,2,Abril
2,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",4.0,"First time here, had decent reviews so I wante...",2,0,0,2019-02-08,da1by_dHiaH7WziqVjCnAQ,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd,2019,1,Febrero

In [11]:
#df.to_csv('Yelp_Final.csv',index=False)

## `Ahora abordamos los KPIs propuestos`.
### `Citando los objetivos específicos a lo largo de los años 2020 al 2021:`
* Crecer un 2 % en la cantidad de restaurantes de comidas mexicanas por trimestre por estado.
* Crecer un 3 % en las calificaciones iguales o mayores a tres estrellas por trimestre por estado.
* Reducir a un 5 % las calificaciones menores a tres estrellas por trimestre por estado.

In [12]:
# Abrimos el dataset creado
df = pd.read_csv('./Yelp_Final.csv')
df.head(2)

,Business_id,Name,Categories,Stars,Text,Useful,Funny,Cool,Date,User_id,City,State,Latitude,Longitude,Address,Year,Trimestre,Mes
0,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",5.0,Hands down best Mexican in Indy! This place al...,0,0,0,2019-03-21,4K_WOyp5edBa9-JtMjxiwQ,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd,2019,1,Marzo
1,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",5.0,After reading all the reviews & hearing great ...,1,0,1,2019-04-20,opsegPYOBbMrULOm7QpkJw,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd,2019,2,Abril

In [13]:
df['State'].value_counts()

FL    26734
PA    19289
AZ    18724
TN    14414
IN    14271
NV    11806
CA    10345
MO     8521
LA     7577
NJ     4086
ID     3907
DE     1575
IL     1273
Name: State, dtype: int64

#### Citando el primer objetivo específico planteado, para la obtención de los datos correspondientes:
* Crecer un 2 % en la cantidad de restaurantes de comidas mexicanas por trimestre por estado.

#### `Duplicamos la columna State, esta última con el nombre de Cant_Restaurantes aplicando el método sort_values(), para:`
* Obtener la cantidad de restaurantes de comidas mexicanas
* Configurar datos por trimestre y estado
* Generando 1 producto: *`RM_Tri_Estado.csv`*

In [14]:
# Restaurantes mexicanos por trimestre y estado
df['Cant_Restaurantes'] = df['State']
df1 = df[['Name','Trimestre','Year','State','Cant_Restaurantes']].groupby(['Name','Trimestre','Year','State']).count().sort_values(by='Cant_Restaurantes',ascending=False)
df1.reset_index(inplace=True)
df1.head()

            Name  Trimestre  Year State  Cant_Restaurantes
0  Condado Tacos          2  2019    IN                170
1     Los Agaves          3  2019    CA                149
2  Condado Tacos          3  2019    IN                142
3  Capital Tacos          2  2019    FL                132
4     Los Agaves          3  2020    CA                129

#### `Datos generados sin e incluyendo Categories de Restaurantes de comida mexicana`
* Insumo para buscar crecer un 2 % en la cantidad de restaurantes de comidas mexicanas por trimestre por estado.

In [15]:
#df1.to_csv('RM_Tri_Estado.csv',index=False)

### `Continuamos con la cantidad de restaurantes mexicanos con tres o más estrellas de calificación, que tiene que ver con el siguiente objetivo específico.`

In [16]:
# Citando los datos necesarios para tomar decisiones
df[df.Stars.isin([3,4,5])][['State']].value_counts()

State
FL       20185
PA       14336
AZ       14318
IN       11394
TN       10834
NV        8819
CA        8568
MO        5890
LA        5744
NJ        2837
ID        2571
DE        1138
IL         848
dtype: int64

#### Obteniendo insumos para atender el siguiente objetivo específico planteado:
* Crecer un 3 % en las calificaciones iguales o mayores a tres estrellas por trimestre por estado.

#### `Duplicamos la columna State, esta última con el nombre de Cant_Restaurantes aplicando el método sort_values(), para:`
* Obtener la cantidad de restaurantes de comidas mexicanas con 3,4 y 5 estrellas
* Configurar datos por trimestre y estado
* Generando 1 producto: *`RM_Tri_Estado_3_4_5_Stars.csv`*

In [18]:
# Restaurantes mexicanos por trimestre y estado con 3, 4 y 5 estrellas.
df['Cant_Restaurantes'] = df['State']
df2 = df[df.Stars.isin([3,4,5])][['Name','Trimestre','Year','State','Cant_Restaurantes']].groupby(['Name','Trimestre','Year','State']).count().sort_values(by='Cant_Restaurantes',ascending=False)
df2.reset_index(inplace=True)
df2.head()

            Name  Trimestre  Year State  Cant_Restaurantes
0     Los Agaves          3  2019    CA                135
1  Condado Tacos          2  2019    IN                134
2     Los Agaves          3  2020    CA                119
3  Condado Tacos          3  2019    IN                116
4  Capital Tacos          2  2019    FL                113

#### `Datos generados sin e incluyendo Categories de Restaurantes de comida mexicana con 3 o más estrellas`
* Insumo para buscar crecer un 3 % en las calificaciones iguales o mayores a tres estrellas por trimestre por estado.

In [19]:
#df2.to_csv('RM_Tri_Estado_3_4_5_Stars.csv',index=False)

### `Continuamos con la cantidad de restaurantes mexicanos con menos de tres estrellas de calificación, que tiene que ver con el siguiente objetivo específico.`

In [20]:
# Citando los datos necesarios para tomar decisiones
df[df.Stars.isin([1,2])][['State']].value_counts()

State
FL       6549
PA       4953
AZ       4406
TN       3580
NV       2987
IN       2877
MO       2631
LA       1833
CA       1777
ID       1336
NJ       1249
DE        437
IL        425
dtype: int64

#### Obteniendo insumos para atender el siguiente objetivo específico planteado:
* Reducir a un 5 % las calificaciones menores a tres estrellas por trimestre por estado.

#### `Duplicamos la columna State, esta última con el nombre de Cant_Restaurantes aplicando el método sort_values(), para:`
* Obtener la cantidad de restaurantes de comidas mexicanas con 1 y 2 estrellas
* Configurar datos por trimestre y estado
* Generando 1 producto: *`RM_Tri_Estado_1_2_Stars.csv`*

In [21]:
# Restaurantes mexicanos por trimestre y estado con 1 y 2 estrellas.
df['Cant_Restaurantes'] = df['State']
df3 = df[df.Stars.isin([1,2])][['Name','Trimestre','Year','State','Cant_Restaurantes']].groupby(['Name','Trimestre','Year','State']).count().sort_values(by='Cant_Restaurantes',ascending=False)
df3.reset_index(inplace=True)
df3.head()

                     Name  Trimestre  Year State  Cant_Restaurantes
0  Chipotle Mexican Grill          2  2021    PA                111
1  Chipotle Mexican Grill          4  2021    PA                109
2  Chipotle Mexican Grill          3  2021    PA                 91
3  Chipotle Mexican Grill          3  2019    PA                 90
4  Chipotle Mexican Grill          4  2021    FL                 89

#### `Datos generados sin e incluyendo Categories de Restaurantes de comida mexicana con 1 y 2 estrellas`
* Insumo para buscar reducir a un 5 % las calificaciones menores a tres estrellas por trimestre por estado.

In [22]:
#df3.to_csv('RM_Tri_Estado_1_2_Stars.csv',index=False)

### `Sistema de recomendación:`
* Top 5 de mayor calificación de los restaurantes mexicanos de los estados.
* Top 5 con mayor calificación de restaurantes mexicanos por estados.
* Top 5 con menor calificación de restaurantes mexicanos por estado.

#### `Top 5 de mayor calificación de los restaurantes mexicanos de los estados.`
* Top 5 de restaurantes mexicanos de todos los estados

In [23]:
# Citando los datos necesarios para tomar decisiones
df[df.Stars==5]['State'].value_counts()

FL    13618
AZ     9671
PA     9114
TN     7373
IN     7182
CA     6233
NV     6139
MO     3708
LA     3637
NJ     1821
ID     1660
DE      708
IL      553
Name: State, dtype: int64

In [24]:
d1 = df[df['Stars']==5][['Name','Stars']]
d1

                         Name  Stars
0             Tortas El Guero    5.0
1             Tortas El Guero    5.0
4             Tortas El Guero    5.0
5             Tortas El Guero    5.0
6             Tortas El Guero    5.0
...                       ...    ...
142512     Don Cruz Snowballs    5.0
142514     Don Cruz Snowballs    5.0
142517  Carniceria Dos Amigos    5.0
142518    Rasta Taco Catering    5.0
142521    Taqueria Nueva Vida    5.0

[71417 rows x 2 columns]

In [25]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71417 entries, 0 to 142521
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    71417 non-null  object
 1   Stars   71417 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.6+ MB

In [26]:
d1['Stars'] = d1['Stars'].replace(5.0, "Excelente")

In [27]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71417 entries, 0 to 142521
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    71417 non-null  object
 1   Stars   71417 non-null  object
dtypes: object(2)
memory usage: 1.6+ MB

In [57]:
d1.head(20000)

                       Name      Stars
0           Tortas El Guero  Excelente
1           Tortas El Guero  Excelente
4           Tortas El Guero  Excelente
5           Tortas El Guero  Excelente
6           Tortas El Guero  Excelente
...                     ...        ...
38952  Ensenada Street Food  Excelente
38953  Ensenada Street Food  Excelente
38954  Ensenada Street Food  Excelente
38955  Ensenada Street Food  Excelente
38956  Ensenada Street Food  Excelente

[20000 rows x 2 columns]

#### `Datos generados para Restaurantes de comida mexicana con 5 estrellas`

In [58]:
#d1.head(20000).to_csv('Recomendacion_5S.csv',index=False)

#### `Top 5 con mayor calificación de restaurantes mexicanos por estados.`
* Top 5 de restaurantes mexicanos de cada estado

In [59]:
df2 = df[df.Stars==5][['State','Name']]
df2.head(20000)

      State                  Name
0        IN       Tortas El Guero
1        IN       Tortas El Guero
4        IN       Tortas El Guero
5        IN       Tortas El Guero
6        IN       Tortas El Guero
...     ...                   ...
38952    AZ  Ensenada Street Food
38953    AZ  Ensenada Street Food
38954    AZ  Ensenada Street Food
38955    AZ  Ensenada Street Food
38956    AZ  Ensenada Street Food

[20000 rows x 2 columns]

#### `Datos generados para Restaurantes de comida mexicana con 5 estrellas por estado.`

In [60]:
#df2.head(20000).to_csv('Recomendacion_5S_estado.csv',index=False)

#### `Top 5 con menor calificación de restaurantes mexicanos por estado.`

In [32]:
# Citando los datos necesarios para tomar decisiones
df[df.Stars==1]['State'].value_counts()

FL    4427
PA    3351
AZ    2976
TN    2484
NV    2112
IN    1875
MO    1873
LA    1211
CA    1175
ID     968
NJ     858
IL     305
DE     288
Name: State, dtype: int64

In [33]:
df3 = df[df.Stars==1][['State','Name']]
df3

       State                  Name
17        IN       Tortas El Guero
22        IN       Tortas El Guero
36        IN       Tortas El Guero
64        FL  GUAC Tequila & Tacos
66        FL  GUAC Tequila & Tacos
...      ...                   ...
142505    NJ      Nories Lunch Box
142506    NJ      Nories Lunch Box
142507    NJ      Nories Lunch Box
142508    NJ      Nories Lunch Box
142519    TN   Taqueria El Pollito

[23903 rows x 2 columns]

In [34]:
#df3.to_csv('Recomendacion_1S_estado.csv',index=False)

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
def recomendacion_5Stars(Restaurant):
    '''Ingresas un nombre de restaurante mexicano basado en 5 estrellas y te recomienda 
    los similares en una lista'''
    f = pd.read_csv('Recomendacion_5S.csv')
    tfidf = TfidfVectorizer(stop_words = 'english')
    f['Stars'] = f['Stars'].fillna('')
    tfidf_matriz = tfidf.fit_transform(f['Stars']) 
    coseno_sim = linear_kernel(tfidf_matriz,tfidf_matriz)
    indices = pd.Series(f.index, index = f['Name'])
    idx = indices[Restaurant]
    simil = list(enumerate(coseno_sim[idx]))
    simil = sorted(simil, key = lambda x: x[0],reverse=True)
    simil = simil[1:11]
    movie_index = [f[0] for f in simil]
    lista = f['Name'].iloc[movie_index].to_list()[:5]
    return {'lista recomendada de restaurantes mexicanos de 5 estrellas en USA': lista}
def recomendacion_5S_State(Estado):
    '''Ingresas el nombre de cualquiera de los siguientes estados:'FL','PA','AZ','TN','NV','IN','MO',
    'LA','CA','ID','NJ','IL',DE' y te recomienda restaurantes mexicanos de 5 estrellas'''
    g = pd.read_csv('Recomendacion_5S_estado.csv')
    tfidf = TfidfVectorizer(stop_words = 'english')
    g['State'] = g['State'].fillna('')
    tfidf_matriz = tfidf.fit_transform(g['State']) 
    coseno_sim = linear_kernel(tfidf_matriz,tfidf_matriz)
    indices = pd.Series(g.index, index = g['State'])
    idx = indices[Estado]
    simil = list(enumerate(coseno_sim[idx]))
    simil = sorted(simil, key = lambda x: x[0],reverse=True)
    simil = simil[1:11]
    movie_index = [g[0] for g in simil]
    lista = g['Name'].iloc[movie_index].to_list()[:5]
    return {'lista recomendada de restaurantes mexicanos de 5 estrellas en USA por estado': lista}
def recomendacion_1S_State(Estado):
    '''Ingresas el nombre de cualquiera de los siguientes estados:'FL','PA','AZ','TN','NV','IN','MO',
    'LA','CA','ID','NJ','IL',DE' y te recomienda restaurantes mexicanos de 1 estrella'''
    h = pd.read_csv('Recomendacion_1S_estado.csv')
    tfidf = TfidfVectorizer(stop_words = 'english')
    h['State'] = h['State'].fillna('')
    tfidf_matriz = tfidf.fit_transform(h['State']) 
    coseno_sim = linear_kernel(tfidf_matriz,tfidf_matriz)
    indices = pd.Series(h.index, index = h['State'])
    idx = indices[Estado]
    simil = list(enumerate(coseno_sim[idx]))
    simil = sorted(simil, key = lambda x: x[0],reverse=True)
    simil = simil[1:11]
    movie_index = [h[0] for h in simil]
    lista = h['Name'].iloc[movie_index].to_list()[:5]
    return {'lista recomendada de restaurantes mexicanos de 1 estrella en USA por estado': lista}

In [2]:
print(recomendacion_5Stars('Tortas El Guero'))
print(recomendacion_5S_State('AZ'))
print(recomendacion_1S_State('FL'))

{'lista recomendada de restaurantes mexicanos de 5 estrellas en USA': ['GUAC Tequila & Tacos', 'GUAC Tequila & Tacos', 'GUAC Tequila & Tacos', 'GUAC Tequila & Tacos', 'GUAC Tequila & Tacos']}
{'lista recomendada de restaurantes mexicanos de 5 estrellas en USA por estado': ['Vicentas Mexican Cuisine', 'Vicentas Mexican Cuisine', 'Vicentas Mexican Cuisine', 'Vicentas Mexican Cuisine', 'Vicentas Mexican Cuisine']}
{'lista recomendada de restaurantes mexicanos de 1 estrella en USA por estado': ['QDOBA Mexican Eats', 'Taco Bell', 'Taco Bell', 'Taco Bell', 'Taco Bell']}